{% extends 'layout.twig' %}

{% block title %}{{ parent() }} Compte de {{ account.username }} &raquo; {{ hero.name }}{% endblock %}

{% block jsfiles %}
  {{ parent() }}
  <script src="{{ baseUrl() }}/js/jquery.canvasjs.min.js"></script>
{% endblock %}

{% block breadcrumb %}
  {{ parent() }}
  <li><a href="{{ baseUrl() }}">Accueil</a></li>
  <li><a href="{{ baseUrl() }}/account/{{ account.id }}">Compte de {{ account.username }}</a></li>
  <li class="active">{{ hero.name }}</li>
{% endblock %}

{% block content %}
  <h2 class="no-top-margin">
    <i class="fa fa-star text-muted"></i> {{ hero.name }}
    <small><i class="fa fa-tag" data-toggle="tooltip" title="Classe"></i> {% if hero.gender == 1 %}{{ hero.hero_class.find_one.name_female }}{% else %}{{ hero.hero_class.find_one.name_male }}{% endif %}</small>
    <a href="http://{{ account.region.find_one.slug }}.battle.net/d3/fr/profile/{{ account.username }}-{{ account.battlenet_id }}/hero/{{ hero.battlenet_id }}" data-toggle="tooltip" title="Profil officiel Battle.net" class="pull-right"><i class="fa fa-external-link"></i></a>
  </h2>

  <ul class="list-inline list-unstyled">
    <li>Dernière actualisation : {% if hero.last_updated is empty %}<span class="label label-warning" data-toggle="tooltip" title="Cliquez sur le bouton Actualiser le Héros">Jamais</span>{% else %}Il y a {{ hero.last_updated|time_ago }}{% endif %}</li>
    <li><button class="btn btn-success btn-xs" id="refresh-hero-btn"><i class="fa fa-refresh"></i>&nbsp; Actualiser le Héros</button></li>
  </ul>
  
  {% if hero.history().count() == 0 %}
    <div class="alert alert-warning">Aucune donnée à afficher pour l'instant. Essayez d'actualiser ce Héros.</div>
  {% elseif hero.history().count() == 1 %}
    <div class="alert alert-warning">Pas assez de données pour afficher des statistiques. Il faut que ce Héros ait été actualisé au moins deux fois.</div>
  {% else %}
    
  <h3><i class="fa fa-shield fa-fw text-muted"></i> Résistances</h3>

  <div id="chart_resists" class="chart"></div>

  <h3><i class="fa fa-heart fa-fw text-muted"></i> Vie</h3>

  <div id="chart_life" class="chart"></div>

  <h3><i class="fa fa-gift fa-fw text-muted"></i> Pourcentages</h3>

  <div id="chart_percentages" class="chart"></div>
    
  {% endif %}
  
  <script>
    $(function () {
      var hoh_refresh_hero_btn = $('button#refresh-hero-btn');

      hoh_refresh_hero_btn.on('click', function() {
        hoh_refresh_hero_btn.html('<i class="fa fa-circle-o-notch fa-spin"></i> Patientez... (cela peut prendre du temps)').prop('disabled', true);

        $.ajax({
          type: 'POST',
          url: '{{ baseUrl() }}/account/{{ account.id }}/hero/{{ hero.id }}',
          error: function() {
            alert('Une erreur réseau est survenue.');
          },
          success: function(response) {
            if (response.result == 'failure') {
              alert(response.data.message);
            } else if (response.result == 'success') {
              alert(response.data.message);
              location.replace('{{ baseUrl() }}/account/{{ account.id }}/hero/{{ hero.id }}');
            }
          },
          complete: function() {
            hoh_refresh_hero_btn.html('<i class="fa fa-refresh"></i>&nbsp; Actualiser le Héros').prop('disabled', false);
          }
        });
      });

      {% if hero.history().count() > 1 %}
      
      function renderChart(type, legend) {
        $.ajax({
          type: 'GET',
          url: '{{ baseUrl() }}/account/{{ account.id }}/hero/{{ hero.id }}/datatype/'+type,
          error: function() {
            alert('Une erreur réseau est survenue.');
          },
          success: function(response) {
            if (response.result == 'failure') {
              alert(response.data.message);
            } else if (response.result == 'success') {
              var data = [];

              for (var i = 0; i < response.data.length; i++) {
                data.push({
                  type: 'line',
                  color: legend[i].color,
                  showInLegend: true,
                  legendText: legend[i].label,
                  dataPoints: response.data[i],
                  xValueType: 'dateTime',
                });
              }

              $('div#chart_'+type).CanvasJSChart({
                theme: 'theme1',
                zoomEnabled: true,
                panEnabled: true,
                creditText: '',
                creditHref: '',
                legend: {
                  fontFamily: '"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif',
                  fontSize: 16,
                  horizontalAlign: 'center',
                  verticalAlign: 'bottom'
                },
                axisX: {
                  title: 'Date',
                  titleFontColor: '#333',
                  labelFontColor: '#333',
                  titleFontFamily: '"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif',
                  labelFontFamily: '"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif',
                  titleFontSize: 16,
                  labelFontSize: 16,
                  valueFormatString: 'DD/MM/YYYY',
                  gridThickness: 1,
                  gridColor: '#ededed',
                  labelAngle: 50,
                },
                axisY: {
                  title: 'Valeur',
                  titleFontColor: '#333',
                  labelFontColor: '#333',
                  titleFontFamily: '"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif',
                  labelFontFamily: '"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif',
                  titleFontSize: 16,
                  labelFontSize: 16,
                  gridThickness: 1,
                  gridColor: '#ededed'
                },
                data: data
              });
            }
          }
        });
      }

      // Résistances
      renderChart('resists', [
        {label: 'Physique', color: 'black'},
        {label: 'Feu', color: 'red'},
        {label: 'Froid', color: 'blue'},
        {label: 'Foudre', color: 'yellow'},
        {label: 'Poison', color: 'green'},
        {label: 'Arcanique', color: 'magenta'}
      ]);

      // Vie
      renderChart('life', [
        {label: 'Maximale', color: 'red'},
        {label: 'Par victime', color: 'yellow'},
        {label: 'Par coup', color: 'green'},
        {label: 'Par seconde', color: 'orange'}
      ]);
      
      // Pourcentages
      renderChart('percentages', [
        {label: 'Dégâts des coups critiques', color: 'orange'},
        {label: 'Chances de bloquer', color: 'black'},
        {label: 'Bonus de dégâts', color: 'red'},
        {label: 'Chances de coup critique', color: 'blue'},
        {label: 'Découverte d\'or', color: 'yellow'},
        {label: 'Vol de vie', color: 'green'},
        {label: 'Découverte d\'objets magiques', color: 'magenta'}
      ]);

      {% endif %}
    });
  </script>
{% endblock %}